    
{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Item</th>
      <th>Checked</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.check }}</td>
      <td>
		<form method="POST" action="{{ url_for('items_set_checked', item_id=item.id) }}">
	  		<input type="submit" value="Buy"/>
		</form>
    	<form method="POST" action="{{ url_for('items_remove', item_id=item.id) }}">
    		<input type="submit" value="Delete"/>
    	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}