    
{% extends "layout.html" %}

{% block body %}
 {% if current_user.is_authenticated %}
  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Category</th>
      <th>Bought</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.category_id }}</th>
      <td>{{ item.bought }}</td>
      <td>
		<form method="POST" action="{{ url_for('items_set_bought', item_id=item.id) }}">
	  		<input type="submit" value="Buy"/>
		</form>
	</td>
	<td>
    	<form method="POST" action="{{ url_for('items_remove', item_id=item.id) }}">
    		<input type="submit" value="Delete"/>
    	</form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  </div>
 {% endif %}
{% endblock %}