{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('items_create') }}">
<table>
    <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
	<ul>
		{% for error in form.name.errors %}
		<li>{{error}}</li>
		{%endfor%}
	</ul>
	</tr>
	<tr>
		<select class="custom-select custom-select-sm">
			<option selected>Select the category</option>
			<option value="1">This</option>
			<option value="2">is</option>
			<option value="3">not</option>
			<option value="4">working</option>
		</select>
	</tr>
      <tr>
	<td>
	  {{ form.bought.label }}
	</td>
	<td>
	  {{ form.bought }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Add a new item"/>
	</td>
      </tr>
</table>
</form>
{% endblock %}