{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('auth_create') }}">
  <p class="font-weight-bold">Choose your username and password. Both must be at least 4 characters long.</p>
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
      	<ul>
		{% for error in form.username.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Create"/>
      </td>
    </tr>
    </table>
</form>
{% endblock %}