{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Name</th>
      <th>Number of items</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>{{ category.size }}</td>
      <td>
	<form method="POST" action="{{ url_for('items_set_checked', item_id=item.id) }}">
	  <input type="submit" value="Buy"/>
	</form>
	<button type="button" onclick="alert('Method 'remove' doesn't work yet!')">Remove!</button>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}