{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Name</th>
      <th>Number of items</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>{{ category.size }}</td>
      <td>
	<form method="POST" action="{{ url_for('category_delete', category_id_id=category.id) }}">
	  <input type="submit" value="Delete"/>
	</form>
      </td>
      <td>
      <form method="POST" action="{{ rl_for('category_rename', category_id=category.id) }}">
      	<td> {{ form.name.label }} </td>
      	<td> {{ form.name }}</td>
      	<td>
      		<input type="submit" value="Rename"/>
      	</td>
      </form>
    </tr>
    {% endfor %}
  </table>
{% endblock %}