{% extends "layout.html" %}

{% block body %}
  <table>
  	<tr>
  		<li><a href="{{ url_for('categories_form') }}">Add new</a></li>
  	</tr>
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>{{ category.size }}</td>
      <td>
	<form method="POST" action="{{ url_for('categories_remove', category_id=category.id) }}">
	  <input type="submit" value="Delete"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}